:root{
    --cor-1: #ffffff;
    --cor-2: #ff0000;
    --cor-3: #ff7b00;
    --cor-4: #fff700;
    --cor-5: #09ff00;
    --cor-6: #00fff7;
    --cor-7: #0400ff;
    --cor-8: #8000ff;
    --cor-9: #d400ff;
    --cor-10: #000000;
}

.container-cabecalho{
    background-color: var(--cor-10);
    color: rgb(0, 0, 0);
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

    .cabe-esquerda{
        background-color: var(--cor-2);
        height: 50px;
        width: 70vh;
    }

        .logo{
            height: 30px;
            width: 30px;
        }

    .cabe-meio{
        background-color: var(--cor-3);
        height: 50px;
        width: 70vh;
    }

    .cabe-direita{
        background-color: var(--cor-4);
        height: 50px;
        width: 70vh;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

        .cabe-button{
            background-color: var(--cor-5);
            border-radius: 5px;
        }