:root{
    /**extremo claro*/
    --AzulCC1: #1A2D87;
    --AzulCC2: #5E628D;
    --BrancoCC1: #B9BEC8;
    --BrancoCC2: #FFFFFF;
    --VermelhoCC1: #DB808A;
    --VermelhoCC2: #C8586B;
    /**Médio claro*/
    --AzulC1: #0E1848;
    --AzulC2: #404363;
    --BrancoC1: #8D99AE;
    --BrancoC2: #D8F1FD;
    --VermelhoC1: #EF233B;
    --VermelhoC2: #B30522;
    /**Padrão*/
    --AzulP1: #091136;
    --AzulP2: #2B2D42;
    --BrancoP1: #8D99AE;
    --BrancoP2: #D8F1FD;
    --VermelhoP1: #EF233B;
    --VermelhoP2: #B30522;
    /**Médio escuro*/
    --AzulE1: #050A1F;
    --AzulE2: #272836;
    --BrancoE1: #787F8A;
    --BrancoE2: #93ACB8;
    --VermelhoE1: #BE1D30;
    --VermelhoE2: #88061B;
    /**Extremo escuro*/
    --AzulEE1: #030611;
    --AzulEE2: #1F202C;
    --BrancoEE1: #6B6F75;
    --BrancoEE2: #687982;
    --VermelhoEE1: #811320;
    --VermelhoEE2: #4E0511;
  }

.container-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #050a1fc4;
  z-index: 1000;
  border-radius: 10px;
}

.conteudo-modal{
    background-color: var(--BrancoCC1);
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.conteudo-modal-topo{
    background-color:  var(--BrancoCC1);
    width: 500px;
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
.topo-modal-di{
    background-color:  var(--BrancoCC1) ;
    width: 50px;
    height: 50px;
}

.topo-modal-es{
    background-color:  var(--BrancoCC1);
    width: 440px;
    height: 50px;
    border-radius: 10px;
}
.conteudo-modal-meio{
    background-color:  var(--BrancoCC1);
    width: 500px;
    height: 350px;
    margin-top: 10px; 
}
.sair-modal{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 5px;  
}
.X{
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.texto-modal{
   background-color: var(--BrancoCC2);
    width: 500px;
    height: 350px;
    border-radius: 10px;
    margin-top: 10px;
}
.conteudo-modal-baixo{
    width: 500px;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button-modal{
    background-color: var(--VermelhoC1);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

.button-modal:hover{
    background-color: var(--VermelhoC2);
}