.div-grupo-Ava-3{
 margin: 10vh;
 display: flex;
 flex-direction: row;
 gap: 5vh;
 padding: 3vh;
 background-repeat: no-repeat;
border-radius: 8px;
 justify-content: center; 
 background-color: var(--BrancoC1);
  }
.titulo_av_notas{
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 30px;
background-color: var(--AzulP2);
border-radius: 3px;
display: flex;
justify-content: center;
width: 163vh;
justify-content: top;
}
.Av_notas{
background: var(--BrancoC2);
border-radius: 8px;
width: 172vh;
height: 74vh;
display: flex;
align-items: center;
flex-direction: column;    
}
.cards_av{
background-color: black;
display:flex;
flex-direction: column;
}