.container-produtos{
    background-color: var(--BrancoCC2);
    color: var(--AzulEE1);
    border: 1px solid #ffff;
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    
}

.box-ef{
  box-shadow: 4px 4px 3px  var(--VermelhoC2);
}
.box-ef:hover {
  box-shadow: 4px 4px 3px  var(--VermelhoC2);
  transform: translateY(-5px);
}

.box-nut{
  box-shadow: 4px 4px 3px  green;;
}
.box-nut:hover {
  box-shadow: 4px 4px 3px  green;
  transform: translateY(-5px);
}

.box-amb{
  box-shadow: 4px 4px 3px  blue;
}
.box-amb:hover {
  box-shadow: 4px 4px 3px  blue;
  transform: translateY(-5px);
}


.img-produto{
    width: 140px;
    height: 150px;
    border-radius: 10px;
}


.container-cards, .lista-cards{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 0 0 auto; /* impede o card de encolher */
    
}

.icones{
  width: 40px;
  height: 40px;
}