:root {
    --cor1: #03045e; 
    --cor2: #0077b6; 
    --cor3: #00b4d8; 
    --cor4: #90e0ef; 
    --cor5: #caf0f8; 
}

.navbar {
    background-color: var(--cor1); /* Usa a segunda cor da paleta */
    padding: 20px;
    display: flex;
    justify-content: center;
    position: fixed; /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    width: 100%; /* Faz a navbar ocupar toda a largura */
    z-index: 1000; /* Garante que a navbar esteja à frente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destaque */
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-item {
    cursor: pointer;
    color: var(--cor4); /* Usa a quinta cor da paleta */
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease; /* Transição suave ao passar o mouse */
}

.navbar-item:hover {
    color: var(--cor6); /* Usa a quarta cor ao passar o mouse */
}

.content {
    padding-top: 70px; /* Evita que o conteúdo fique escondido atrás da navbar */
    background-color: var(--cor6); /* Define um fundo claro para o conteúdo */
    color: var(--cor1); /* Texto principal na primeira cor */
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
