:root{
  --Cor1: rgb(2, 6, 25);
  --Cor2: rgb(43, 45, 66);
  --Cor3: rgb(141, 153, 174);
  --Cor4: rgb(236, 240, 242);
  --Cor5: rgb(239, 35, 59);
  --Cor6: rgb(179, 5, 34);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #root, body, html{
    height: 100vh;
  }